@import url('style.css');


.list{
    width: 100%;
    overflow-y: auto;
    background-image: url('../img/Bottom-Waves-1024.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; 
}

.list .item,.menu .item{
    width: 100%;
    height: 100px;
    margin-bottom: 11px;
    /*background-color: rgba(253, 253, 253, 0.92);*/
    border-top: 1px solid rgb(200, 199, 204);
    background-image: url(../img/nextBtnSilver.svg);
    background-position: right center;
    background-size: 24px 44px;
    background-repeat: no-repeat;  
}

.list .item:last-of-type,.menu .item:last-of-type{
    border-bottom: 1px solid rgb(200, 199, 204);
}
.menu .item{
    margin-bottom: 0px;
    border-bottom: none;
}
.item .box .item_title{
    display: table-cell;
    height: 42px;
    vertical-align: bottom;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
}
.item .box .item_subtitle{
    display: table;
    font-size: 11px;
    text-align: left;
    line-height: 18px;
    color: #676767;
}

.list_store{
    position: relative;
    width: 100%;
    height: 220px;
    overflow-y: scroll;    
}
.list_store h1{ 
    padding: 10px 6%;
    text-align: center;
}

/*report7*/
.section{
    background-color: #E6E7EB;
}


hr {
    position: relative;
    z-index: 10;
    margin: 0;
    border: 0;
    border-top: 1px solid rgb(200, 199, 204);
    -webkit-transform: translate3d(0,1px,0);
    transform: translate3d(0,1px,0);
}

.item>.date{
    padding-right: 0;
}
.item.selected>div{
    color: #f1f1f1;
}
.store:nth-of-type(2n){
    background-color: rgba(234,234,235,0.85);
}
.store h1{
    width: 100%;
    height: 32px;
    font-size: 20px;
    font-weight: bold;    
    line-height: 1.6em;
    white-space: pre-line;
    color: #111;
}

.store h1.storeNameR1{
    width: 77%;
    display: inline-block;
    padding-right: 10pt;
}

.region_store .storeNameR1{
    width: 67% !important;
}
.lastConexion {
    display: inline-block;
    width: 23%;
    font-size: 10pt;
    text-align: center;
    line-height: 14pt;
    height: 32px;
    position: relative;
    vertical-align: top;
    color: #CE291E;
}
.lblLastConexion{
    padding-right: 3pt;
    width: 42%;
}
.dataLastConexion{
    width: 63%;
}
.lblLastConexion,.dataLastConexion{
    line-height: 24pt;
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
}
.actual p,.global p,
.actual i,.global i,
.actual span,.global span{
    display: inline-block;
}
.actual i,.global i{
    width: 12%;
    font-size: 16px;
    font-style: normal;
    color: #0000CD;
}
.actual p,.global p{
    width: 26.5%;
    font-size: 16px;
    text-align: left;
}
.actual span,.global span{
    width: 23%;
    padding-right: 0;
    padding-top: 4pt;
    padding-bottom: 4pt;
    text-align: right;
    font-size: 16px;
    text-align: center;
    color: white !important;
}
.actual span.red, .global span.red{
    background-color: #CE291E;
} 
.actual span.green, .global span.green {
    background-color: #55982E;
}
.actual span.ambar, .global span.ambar {
    background-color: #FF8C00;
}

div[class^="region_store"]
{
    height: 0;
    width: 90%;
    overflow-y: hidden;
    overflow-x: hidden;
    opacity: 0;
    margin: auto;
    -webkit-transition: all 0.12s cubic-bezier(.18, .06, .19, .80); 
    transition: all 0.12s cubic-bezier(.18, .06, .19, .80); 
}
/*Region*/
.regionList {
    opacity: 1 !important;
    height: auto !important;
    
}


div[class^="graphic"]
{
    height: 0;
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    opacity: 0;
    -webkit-transition: all 0.12s cubic-bezier(.18, .06, .19, .80); 
    transition: all 0.12s cubic-bezier(.18, .06, .19, .80); 
}

/*Report1 by Store*/
.showGraphic {
    opacity: 1 !important;
    height: auto !important;
}
div[class^="chartdiv"]{
    width: 70%;
    height: 130px;
    display: inline-block;
    float: left;
    
}
div[class^="detalle-"]{
    width: 30%;
    height: 100%;
    display: inline-block;
    float: right;
}
.year, .quantity{
    font-size: 12px;
}
.year , div[class^="detalle-"] i {float: left; width: 40%;}
.quantity, div[class^="detalle-"] span{float: right; width: 60%; text-align: right;}
.quantity{ text-align: center;}
div[class^="detalle-"] i,
div[class^="detalle-"] span{
    font-size: 12px;
    margin: 0;
    padding: 0;
}

#actual, #global{ 
    width: 100%;
}
.red{ color: rgb(255, 28, 23) !important;}
.green{ color: rgb(104, 163, 87) !important;}
.ambar{ color: rgb(201, 148, 18) !important;}


.close,.close.back {
    position: absolute;
    right: 2px;
    top: 0;
    width: 50px;
    height: 50px;
    opacity: 1;
    color: #0000CD;

    font-size: 14px;
}
.close.back{
    right: inherit;
    left: 2px;
}

#lblToday,#lblYesterday,#lblWeek,#lblMonth,#lblYear{
    display: inline-block;
}

.innerLi #lblToday, .innerLi #lblYesterday, .innerLi #lblWeek, .innerLi #lblMonth, .innerLi #lblYear{
    float: left;
    font-size: 18px;
    color: black;
    line-height: 44px;
}

.twoCols div{
    display: inline-block;
}


/* para el floatWindow */
.mostrar{
    -webkit-animation-name: floatWindowShow; 
    -webkit-animation-duration: .40s;
    animation-name: floatWindowShow;
    animation-duration: .40s;
    -webkit-transform-origin: right center;
    transform-origin: right center;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
     -webkit-animation-timing-function: cubic-bezier(.20, .50, .90, 1); 
    animation-timing-function: cubic-bezier(.20, .50, .90, 1);
}

@-webkit-keyframes floatWindowShow {
    0% {
        -webkit-transform: translate3d(110%,0,0) rotateY(90deg);
    }
    5% {
        -webkit-transform: translate3d(110%,0,0) rotateY(0deg);
    }
    100%{
        -webkit-transform: translate3d(0%,0,0) ; 
    }
}

@keyframes floatWindowShow {
    0% {
        transform: translate3d(110%,0,0) rotateY(90deg);
    }
    5% {
        transform: translate3d(110%,0,0) rotateY(0deg);
    }
    100%{
        transform: translate3d(0%,0,0); 
    }
}
.ocultar{
    -webkit-animation-name: floatWindowHide; 
    -webkit-animation-duration: .35s;
    animation-name: floatWindowHide;
    animation-duration: .35s;
    -webkit-transform-origin: right center;
    transform-origin: right center;
    -webkit-animation-fill-mode: inherit;
    animation-fill-mode: inherit;
    -webkit-animation-timing-function: cubic-bezier(.60, .80, .50, .60); 
    animation-timing-function: cubic-bezier(.60, .80, .50, .60);
}
@-webkit-keyframes floatWindowHide {
    0% {
        -webkit-transform: translate3d(0%,0,0) rotateY(0deg);
    }
    95% {
        -webkit-transform: translate3d(110%,0,0) rotateY(0deg);
    }
    100%{
        -webkit-transform: translate3d(100%,0,0) rotateY(90deg);
    }
}

@keyframes floatWindowHide {
    0% {
        transform: translate3d(0%,0,0) rotateY(0deg);
    }
    95% {
        transform: translate3d(110%,0,0) rotateY(0deg);
    }
    100%{
        transform: translate3d(100%,0,0) rotateY(90deg);
    }
}
/* para el io8 window */
/*.mostrar_adelante{
    transform: translate3D(0%,0,0);
    -webkit-transform: translate3D(0%,0,0);
    transition: all .36s cubic-bezier(.20, .50, .90, 1);
    -webkit-transition: all .36s cubic-bezier(.20, .50, .90, 1);
}*/
.mostrar_adelante{
    -webkit-animation-name: WindowShow; 
    -webkit-animation-duration: .35s;
    animation-name: WindowShow;
    animation-duration: .35s;
    -webkit-transform-origin: left center;
    transform-origin: left center;
    -webkit-animation-fill-mode: inherit;
    animation-fill-mode: inherit;
    -webkit-animation-timing-function: cubic-bezier(.60, .80, .50, .60); 
    animation-timing-function: cubic-bezier(.60, .80, .50, .60);
}
@-webkit-keyframes WindowShow {
    0% {
        -webkit-transform: translate3d(-10%,0,0) ;
    }
    100% {
        -webkit-transform: translate3d(0%,0,0) ;
    }
}

@keyframes WindowShow {
    0% {
        transform: translate3d(-10%,0,0);
    }
    100%{
        transform: translate3d(0%,0,0);
    }
}
/*.ocultar_atras{
    transform: translate3D(-10%,0,0);
    -webkit-transform: translate3D(-10%,0,0);
    transition: all .36s cubic-bezier(.20, .50, .90, 1);
    -webkit-transition: all .36s cubic-bezier(.20, .50, .90, 1);
    opacity: 0.8;
}*/
.ocultar_atras{
    -webkit-animation-name: WindowHide; 
    -webkit-animation-duration: .35s;
    animation-name: WindowHide;
    animation-duration: .35s;
    -webkit-transform-origin: left center;
    transform-origin: left center;
    -webkit-animation-fill-mode: inherit;
    animation-fill-mode: inherit;
    -webkit-animation-timing-function: cubic-bezier(.60, .80, .50, .60); 
    animation-timing-function: cubic-bezier(.60, .80, .50, .60);
    opacity: 0.8;
}
@-webkit-keyframes WindowHide {
    0% {
        -webkit-transform: translate3d(0%,0,0)  rotateY(0deg);
    }
    95% {
        -webkit-transform: translate3d(-10%,0,0)  rotateY(0deg);
    }
    100%{
        -webkit-transform: translate3d(0%,0,0) scale(0,0);
    }
}

@keyframes WindowHide {
    0% {
        transform: translate3d(0%,0,0) rotateY(0deg);
    }
    95% {
        transform: translate3d(-10%,0,0) rotateY(0deg);
    }
    100%{
        transform: translate3d(0%,0,0) scale(0,0);
    }
}

.selected+hr{
    opacity: 0;
}

    
.input_effect {
    margin-bottom: 10px;
}
.input_effect label{
    -webkit-transform: translate3d(0,-25px,0);
    transform: translate3d(0,-25px,0);
    -webkit-transform-origin: left center;
    transform-origin: left center;
    -webkit-transition: all 0.23s;
    transition: all 0.23s;
}
.input_effect.focus label{
    -webkit-transform:  translate3d(0px,-50px,0) scale3d(0.68,0.68,1);
    transform:  translate3d(0px,-50px,0) scale3d(0.68,0.68,1);
}
@-webkit-keyframes menuEffect
{
    0% {
        opacity:0;
        -webkit-transform: translate3d(0,20px,0);
    }
    25% {
        opacity:1;
        -webkit-transform: translate3d(0,0,0);
    }
    75% {
        opacity:1;
        -webkit-transform: translate3d(0,0,0);
    }
    100% {
        opacity:0;
        -webkit-transform: translate3d(0,-20px,0);
    }
}




#ui-datepicker-div { display: block !important; }

.infoReport1{display: block; width: 100%; margin-bottom: 11px;}
.infoReport1 i,
.infoReport1 span{
    width: 25%;
    font-style: normal;
    font-size: 14px;
    display: inline-block;
}
.infoReport1 i{width: 15%; color: #0000CD;}
.infoReport1 span{
    width: 28%;
    vertical-align: -webkit-baseline-middle;
}


#divlistado {
    height: 144px;
    padding: 0;
    overflow-y: auto;
}
.divlistadoReports{
    height: 220px;
    padding: 0;
    overflow-y: auto;
}
.collection-item {
    position: relative;
    width: 100%;
    text-align: center;
    line-height: 33px;
    height: 33px;
    font-size: 16px;
    border-bottom: 1px solid #CCCCCC;
}
.collection-item span{
    width: 100%;
    display: block;
    font-weight: bold;
}
button.delete{
    position: absolute;
    left: 0;
    top: 0;
    height: 28px;
    width: 24px;
    background-image: url(../img/iconDelete.svg);
    background-color: transparent;
    background-size: 22px;
    background-repeat: no-repeat;
    background-position: center center;
}
.danger, .danger:hover, .danger:active{color: #EF4036;}
.nostrong, .nostrong:hover, .nostrong:active{font-weight: normal;}
.modal{
    overflow-y:hidden;
}
.modal-header{
    padding: 9pt;
    font-weight: bold;
}
.modal.fade .modal-dialog {
     -webkit-transform: translate(0,-2%) scale3d(1.35,1.35,1); 
    -ms-transform: translate(0,-2%) scale3d(1.35,1.35,1);
    transform: translate(0,-2%) scale3d(1.35,1.35,1);
    -webkit-transition: transform .2s cubic-bezier(0, .50, .80, 1);
    -moz-transition: transform .2s cubic-bezier(0, .50, .80, 1);
    -o-transition: transform .2s cubic-bezier(0, .50, .80, 1);
    transition: transform .2s cubic-bezier(0, .50, .80, 1);
}
.modal.fade.in .modal-dialog {
     -webkit-transform: translate(0,0%) scale3d(1,1,1);
    -ms-transform: translate(0,0%) scale3d(1,1,1);
    transform: translate(0,0%) scale3d(1,1,1);
}
.modal-dialog{
    width: 300px;
}
.modal-content {
    -webkit-box-shadow: 0 0px 10px rgba(0, 0, 0, 0.32);
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.32);
    border: none;
    background: rgba(236,236,236,1);
    background: -moz-linear-gradient(top, rgba(236,236,236,1) 0%, rgba(244,247,249,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(236,236,236,1)), color-stop(100%, rgba(244,247,249,1)));
    background: -webkit-linear-gradient(top, rgba(236,236,236,1) 0%, rgba(244,247,249,1) 100%);
    background: -o-linear-gradient(top, rgba(236,236,236,1) 0%, rgba(244,247,249,1) 100%);
    background: -ms-linear-gradient(top, rgba(236,236,236,1) 0%, rgba(244,247,249,1) 100%);
    background: linear-gradient(to bottom, rgba(236,236,236,1) 0%, rgba(244,247,249,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ececec', endColorstr='#f4f7f9', GradientType=0 );
}
.modal-footer {
    padding: 0px;
    margin-top: 0;
}
.modal-footer .btn+.btn{
    margin: 0;
}
.modal-backdrop.in {
    opacity: .35;
    filter: alpha(opacity=5k);
}
.info {
    line-height: 32px;
}
.chkTax label{
    text-align: center;
}

.title-alert{
    
    font-size: 20px;
    padding-bottom: 5px;
}
.btn-modal.left {
    width: 50%;
    float: left;
    border-right: 1px solid #ddd;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
}
.btn-modal.right {
    width: 50%;
    float: right;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    margin-left: 0px !important;
}

.modal-title{
    font-weight: bold;
    text-align: center;
}
 .list_store h1:nth-child(2n){
    background-color: #e6e6e9;
}

.list_store1{
    padding: 13pt;
    text-align: center;
    line-height: 22pt;
}

.dropdown-toggle .lblFilter{
    font-size: 13pt;
    font-weight: bold;
    color: #000;
    line-height: 40px;
    padding: 0 20px;
}

.dropdown-toggle{
    background-color: #fbfcfc;
}

.filterGoal{
    position: absolute;
    right: 20px;
    top: 0;
    height: 44px;
    font-size: 14px;
    font-weight: bold;
    padding-right: 4%;
    line-height: 3.3em;
    color: rgb(88,88,88);
}
.filterCaret {
    position: absolute;
    right: 15px;
    top: 20px;
}
.open>.dropdown-menu {
    display: block;
    right: 0;
    left: inherit;
}
.opt.active{
    color: white;
}

.modal-rotate .modal-dialog{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 185px;
    margin: auto !important;
}
.bg-rotate{
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1040;    
    background-color: rgba(0,0,0,.3);    
}

@media only screen and (min-width : 320px) and (max-width : 568px) { 
    .list_store{
        height: 180px;
    }
}

@media (-webkit-max-device-pixel-ratio: 1) {
    li, input, textarea {
        background-image: none;
        border-bottom: 1px solid rgb(142, 142, 146);
        border: 0;
    }
}
@media (max-device-pixel-ratio: 1) {
    li, input, textarea {
        background-image: none;
        border-bottom: 1px solid rgb(142, 142, 146);
        border: 0;
    }
}

.list_store .loader-ios{
	text-align: center;
	margin-top: 112px;
}

.noimg{
    background-image: none;
}


/* iPad in portrait & landscape */
@media only screen and (min-width : 768px) and (max-width : 1024px)  {
    #txt_login, #txt_maintitle, #txt_title, #top_txt_title, #txt_Options{
        width: 255px;
    }
    .menu{
        background-image: url('../img/Bottom-Waves-1024.png');
    }
    .hybrid_bg{
        background-image: url('../img/background_1024.jpg') !important;    
    }
    .btn {
        padding: 10px 12px;
    }
    input[type="text"], input[type="password"], input[type="number"], textarea {
      padding: 8px 0;
    }
    .item .box .item_subtitle, .menu .box .item_subtitle{
        font-size: 13pt;
        line-height: 14px;
        color: #555;
        display: block;
    }
    .list .item, .menu .item{
        height: 120px;
        background-size: 28px;
    }
    .item .box .item_title, .menu .box{
        height: 44px;
        font-size: 20pt;
        vertical-align: middle;
    }
    .iconReport{
        width: 72px;
        height: 72px;
    }
    .item .box, .menu .box{
        padding-left: 98px;
    }
    .add_server {
        padding-right: 44px;
        background-size: 34px !important;
    }
    .hide_reports {
        padding-right: 44px;
        background-size: 34px !important;
    }
    .content{
        background-size: cover;
    }
    .list .item{
        background-color: rgb(253, 253, 253);
    }
    .store{
        padding: 6pt 6%;
        line-height: 1.75em;
    }
    .store h1 {
        height: 40px;
        font-size: 21pt;
    }
    .actual i, .global i,
    .actual p, .global p,
    .actual span, .global span {
        font-size: 18pt;
    }
    .actual p, .global p{
        width: 31.5%;
    }
    .actual i, .global i {
        width: 9%;
    }
    .actual span, .global span {
        width: 19%;
    }
    .actual span, .global span{
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .year, .quantity,div[class^="detalle-"] i, div[class^="detalle-"] span{
        font-size: 16px;
    }
    input[type="checkbox"]+ label{
        font-size: 15pt;
    }
    .item,.innerLi>span{
        font-size: 15pt;
    }
    .item.innerLi>div, .item>.date{
        font-size: 14pt;
        line-height: 2.3em;
    }
    #txt_maintitle, #txt_title, #top_txt_title, #txt_Options,
    header button,.btn-modal, .btn-modal:hover{
        font-size: 16pt;
    }

    .modal-dialog{
        width: 525px;
    }
    .infoReport1 i, .infoReport1 span,
    .modal-title{
        font-size: 15pt;
    }
    .infoReport1 span{
        width: 38%;
        vertical-align: inherit; 
    }
    .infoReport1 i{
        width: 11%;
    }
    .infoReport1 {
        margin-bottom: 14pt;
    }
    
    .list_store h1 {
        padding: 12pt 6%;
        font-size: 15pt;
    }
    .modal-header {
        font-size: 14pt;
    }
    .list_store{        
        height: 280px;    
    }
    .ui-datepicker-month{
        font-size: 16pt;
    }
    .ui-datepicker-calendar tbody tr td {
        text-align: center;
        height: 53px;
        width: 30px;
        line-height: 53px;
        font-size: 15pt;
    }
    span.ui-icon.ui-icon-circle-triangle-e,
    span.ui-icon.ui-icon-circle-triangle-w{
        font-size: 16pt;
    }
    .collection-item{
        height: 54px;
        line-height: 54px;
    }
    button.delete {
        height: 54px;
        width: 54px;
        background-size: 32px;
    }
    .collection-item span,
    #txtStore{
        font-size: 16pt;
    }
    #divlistado{
        height: 240px;
    }
    label,#ip_1, #ip_2, #ip_3, #ip_4{
        font-size: 16pt;
    }
    .titleLogo {
        /*height: 31pt;*/
        vertical-align: middle;
    }
    .img_logotitle {
        background-position: 2px 4px !important;
        background-size: 36px !important;
    }
    .store h1.storeNameR1 {
        width: 80%;
    }
    .lastConexion {
        width: 45%;
        font-size: 13pt;
        line-height: 15pt;
        height: 40px;
    }
    .lblLastConexion,.dataLastConexion{
        line-height: 32pt;
    }
    .close,.close.back {
        font-size: 16px;
    }
    div[class^="chartdiv"]{
    height: 180px;
    }
    .dropdown-toggle .lblFilter {
        padding: 0 48px;
    }
}

/*iPhone 6 in portrait & landscape*/
@media only screen and (min-width : 375px) and (max-width : 767px) { 
    .item .box .item_title,.menu .box{
        font-size: 15pt;
    }
    .menu{
        background-image: url('../img/Bottom-Waves-667.png');
    }
    .hybrid_bg{
        background-image: url('../img/background_667.jpg') !important;    
    }
    .actual span, .global span{
        padding-top: 8px;
        padding-bottom: 8px;
        border-radius: 4pt;
        width: 31%;
    }
    .store{
        padding: 4pt 6%;
    }
    .actual i, .global i {
        width: 11%;
    }
    .actual p, .global p {
        width: 23.5%;
    }
    .innerLi {
        font-size: 12pt;
    }
    .innerLi>span{
        font-size: 12pt;
    }
    div[class^="detalle-"] i, div[class^="detalle-"] span{
        height: 22px;
    }
    .store h1.storeNameR1 {
        width: 68%;
    }
    .lastConexion {
        width: 32%;
        font-size: 11pt;
        line-height: 14pt;
        height: 32px;
    }
    .lblLastConexion {
        padding-right: 2pt;
    }
    .close,.close.back {
        font-size: 14px;
    }
}

@media only screen and (min-width : 320px) and (max-width : 374px) { 

}

/* Landscape */
@media only screen and (min-width: 320px) and (max-width: 374px) and (orientation: landscape) {

    
}