.dateStartSection,
.dateEndSection{
    position: relative;
    width: 64px;
    height: 43px;
    display: inline-flex;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}
#txt_title{
    width: inherit;
}
#nameStore5 {
    padding-left: 10px;
    padding-right: 10px;
}
#btn_right.storeIcon{
    background-image: url(../img/iconStore.svg);
    background-position: center;
    background-size: 34px 34px;
    background-repeat: no-repeat;
}

#list_store5{
    width: 100%;
    height: 244px;
    overflow-y: scroll;
        
}
 #list_store5 h1:nth-child(2n){
    background-color: #e6e6e9;
}

#lblDateStart_r4,
#lblDateEnd_r4{
    font-size: 11px;
    position: absolute;
    text-align: center;
    width: 100%;
    -webkit-transform: translate3D(0,-10px,0);
    transform: translate3D(0,-10px,0);
}
#dateStartTitle,
#dateEndTitle{
    font-size: 12px;
    -webkit-transform: translate3D(0,10px,0);
    transform: translate3D(0,10px,0);
}
#lbldateStartR4,#lbldateEndR4{display: inline-block;}
#list_store5 .loader-ios{
	text-align: center;
	margin-top: 112px;
}
.table thead th{
    text-align: center;
    font-size: 16px;
    color: white;
    background-color: #43B580;
    white-space: nowrap;
}
#list-empleados tr td{
	font-size: 14px;
}
#list-empleados tr td:first-child{
	text-align: left;
	padding-left: 4%;
	white-space: nowrap;
}
#list-empleados tr td:nth-child(5){
	color: white;
    background-color: #436FB5;
    border-radius: 8pt;
}
#list-empleados td{
    font-size: 12pt;
}
#list-empleados tr td:first-child{
    font-weight: bold;
}

.table {
    width: 100%;
    margin-bottom: 0px;
}

@media (max-width: 600px) { 
    .dateStartSection{
        transition: all 0.2s;
        transform: rotateX(90deg);
        -webkit-transform: rotateX(90deg);
        opacity: 0;
    }
    .dateEndSection{
        transition: all 0.2s;
        opacity: 0;
    }
}
/* iPad in portrait & landscape */
@media only screen and (min-width : 768px) and (max-width : 1024px)  {
    #list_store5{
        height: 320px;
    }
    #lblDateStart, #lblDateEnd{
        font-size: 11pt;
    }
    #lblDateStart_r4, #lblDateEnd_r4{
        font-size: 11pt;
    }
    #dateStartTitle, #dateEndTitle{
        font-size: 11pt;
        width: 100%;
    }
    .dateStartSection, .dateEndSection{
        width: 90px;
    }
    .table thead th {
        font-size: 16pt;
    }
    #list-empleados td{
        font-size: 14pt !important;
    }    
}
/*iPhone 6 in portrait & landscape*/
@media only screen and (min-width : 375px) and (max-width : 667px) { 
    #list-empleados tr td:nth-child(5){
        border-radius: 4pt;
    }
}

@media only screen and (min-width : 320px) and (max-width : 568px) { 
    .table thead th{
        font-size: 10pt;
    }
    #list-empleados tr td {
        font-size: 10pt;
    }
    .table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td{
        padding:8px;
    }
    #list_store5{
        height: 200px;
    }
}