.dateStartSection,
.dateEndSection{
    position: relative;
    width: 64px;
    height: 43px;
    display: inline-flex;
    opacity: 0;
}
#txt_title{
    width: inherit;
}
#lblDateStart,
#lblDateEnd{
    font-size: 11px;
    position: absolute;
    text-align: center;
    width: 100%;
    -webkit-transform: translate3D(0,-10px,0);
    transform: translate3D(0,-10px,0);
}
#dateStartTitle,
#dateEndTitle{
    font-size: 12px;
    -webkit-transform: translate3D(0,10px,0);
    transform: translate3D(0,10px,0);
}
#lbldateStart,#lbldateEnd{display: inline-block;}
#nameStore {
    padding-left: 10px;
    padding-right: 10px;
}
#lbl_Options {
    text-align: center;
    line-height: 44px;
    font-weight: bold;
}

#list_store{
	position: relative;
    width: 100%;
    height: 220px;
    overflow-y: scroll;    
}
#btn_right.storeIcon,
.storeIcon{
    background-image: url(../img/iconStore.svg);
    background-position: center;
    background-size: 34px 34px;
    background-repeat: no-repeat;
}

#storeName{
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 20px;
}

#storeNo{
    display: none;
}

.active{
    background-color: rgb(21, 125, 251) !important;
    color: white;
}

#list_store .loader-ios{
	text-align: center;
	margin-top: 112px;
}

text{
    font-family: 'Helvetica Neue';
}

#chartdiv{
    width: 98%; 
    margin: 0 auto;
    height: 400px;
}
#chartdiv{
    position: relative;
    z-index: 100;
}

#list_store1{
    padding: 13pt;
    text-align: center;
    line-height: 22pt;
}
.iconRotate{
    padding: 5pt 5pt 10pt;
}
.iconRotate img{
    text-align: center;
    display: block;
    -webkit-animation-name: rotationIcon; 
    -webkit-animation-duration: 1.25s;
    animation-name: rotationIcon;
    animation-duration: 1.25s;
    -webkit-animation-delay: 1s; /* Chrome, Safari, Opera */
    animation-delay: 1s;
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-fill-mode: backwards; /* Chrome, Safari, Opera */
    animation-fill-mode: backwards;
    -webkit-animation-iteration-count: infinite; /* Chrome, Safari, Opera */
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out; 
    animation-timing-function: ease-in-out;
}
.iconRotate img{
    width: 44px;
    margin: auto;
}
@-webkit-keyframes rotationIcon {
    0% {
        -webkit-transform:  rotateZ(0deg);
    }
    100%{
        -webkit-transform:  rotateZ(90deg);
    }
}

@keyframes rotationIcon {
    0% {
        transform:  rotateZ(0deg);
    }
    100%{
        transform: rotateZ(90deg);
    }
}

@media only screen and (orientation: portrait) { 
    .dateStartSection{
        transition: all 0.2s;
        opacity: 0;
    }
    .dateEndSection{
        transition: all 0.2s;
        opacity: 0;
    }
}
@media only screen and (orientation: landscape) { 
    .dateStartSection{
        transition: all 0.2s;
        opacity: 1;
    }
    .dateEndSection{
        transition: all 0.2s;
        opacity: 1;
    }
}


/* iPad in portrait & landscape */
@media only screen and (min-width : 768px) and (max-width : 1024px)  {
    text {
        font-size: 9pt;
    }
    #lblDateStart_r4, #lblDateEnd_r4{
        font-size: 11pt;
    }
    #dateStartTitle, #dateEndTitle{
        font-size: 11pt;
        width: 100%;
    }
    .dateStartSection, .dateEndSection{
        width: 90px;
    }

}
@media only screen and (min-width : 320px) and (max-width : 568px) { 
    #list_store{
        height: 200px;
    }
}